body{
  background-color: rgb(235, 198, 204);
  margin : 40px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  color: rgb(91, 9, 9);
}
p{
  font-size: 20px;
}
button{
  padding: 10px 20px;
  font-size: 15px;
  background-color: rgb(175, 228, 178);
}
button:hover{
  background-color: darkgreen;
}
img{
  width: 400px;
  border-radius: 8px;
}